{% extends 'canchatenis/base.html' %}
{% load static %}


{% block main %}

<div class="container">
    <p style="color: antiquewhite;">¡Bienvenido a Gevptenis, tu compañero ideal para entrenar tenis! Ya sea que seas un principiante que quiere aprender lo básico o un jugador experimentado que busca perfeccionar su técnica, nuestra app está diseñada para ayudarte a alcanzar tu máximo potencial en la cancha.
    </p>
    <p style="color: antiquewhite;">Nuestra misión es hacer que el entrenamiento de tenis de alta calidad sea accesible para todos, en cualquier lugar y en cualquier momento. Creemos que con las herramientas y la guía adecuadas, cualquiera puede mejorar su juego y disfrutar al máximo de este deporte.
        
        Ya sea que estés entrenando para tu próximo torneo o simplemente quieras divertirte mientras mejoras tus habilidades, Gevptenis está aquí para apoyarte en cada paso del camino.</p>
</div>


{% endblock main %}